@import '../variables.scss';
@import '../mixins.scss';

.user {
  padding: 14px 5px;
  display: flex;

  &__photo-wrapper {
    $block-size: 124px;
    max-height: $block-size;
    max-width: $block-size;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 10px;
    flex-shrink: 0;
  }

  &__photo {
    width: 160px;
    margin-left: -10px;
    margin-top: -2px;
  }

  &__name {
    @include fontStyle(bold, 16px, 20px);
    margin-bottom: 2px;
    color: $primary-font-color;
  }

  &__job-title {
    @include fontStyle(normal, 12px, 20px);
    color: $secondary-font-color;
    margin-bottom: 5px;
  }

  &__current-info {
    background-color: #fffbc8;
    border: 1px solid #dadada;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 14px 10px 45px;
    margin-left: -46px;

    @include fontStyle(normal, 14px, 20px);
  }
}
