@import '../variables.scss';

.user {
  padding: 14px 5px;
  display: flex;

  &__photo-wrapper {
    max-height: 124px;
    max-width: 124px;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 10px;
    flex-shrink: 0;
  }

  &__photo {
    width: 160px;
    margin-left: -10px;
    margin-top: -2px;
  }

  &__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 2px;
    color: $primary-font-color;
  }

  &__job-title {
    font-size: 12px;
    line-height: 20px;
    color: $secondary-font-color;
    margin-bottom: 5px;
  }

  &__current-info {
    background-color: #fffbc8;
    border: 1px solid #dadada;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 14px 10px 45px;
    margin-left: -46px;

    font-size: 14px;
    line-height: 20px;
  }
}
