@import '../variables.scss';
@import '../mixins.scss';

.comments {
  margin-top: 20px;

  &__info,
  &__filter,
  &__statistics,
  &__likes,
  &__amount {
    display: flex;
  }

  &__statistics {
    margin-right: 2px;
    @include fontStyle(normal, 12px, 14px);
  }

  &__filter {
    flex-wrap: wrap;
  }

  &__info,
  &__amount {
    justify-content: space-between;
  }

  &__info {
    align-items: start;
  }

  &__title {
    margin-right: 8px;

    @include fontStyle(bold, 16px, 16px);
  }

  &__filter-all {
    @include fontStyle(normal, 14px, 16px);
    color: #005da1;
    text-decoration-line: underline;
  }

  &__likes,
  &__amount {
    align-items: center;
  }

  &__amount {
    margin-left: 16px;
  }

  &__last {
    margin-top: 14px;
  }
}

.comment__person-info {
  display: flex;
}

.comment__person-name {
  @include fontStyle(bold, 14px, 19px);
  margin-right: 10px;
}

.comment__date {
  @include fontStyle(normal, 11px, 19px);
  color: $secondary-font-color;
}

.comment__content {
  background-color: #f2fbff;
  margin-top: 10px;
  margin-bottom: 16px;
  padding: 11px 20px;
  border: 1px solid #c4cbcf;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(128, 128, 128, 0.1);

  position: relative;
  @include fontStyle(normal, 14px, 19px);
}
.comment__content::before,
.comment__content::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid #c4cbcf;
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;

  position: absolute;
  top: -12.5px;
  left: 23px;
  z-index: -1;
}

.comment__content::after {
  z-index: 1;
  top: -10px;
  left: 24px;
  border-left: 10px solid #f2fbff;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

.like-icon {
  margin-top: 2px;
  margin-right: 2px;
}

.comments-icon {
  margin-top: 4px;
  margin-right: 3px;
}
